.marmeto-shipping-bar{
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}

.marmeto-shipping-bar__wrapper {
  width: 100%;
  height: 7px;
  border-radius: 30px;
  position: relative;
  background: white;
  display: flex;
  align-items: center;
}

.marmeto-shipping-bar__indicator {
  display: block;
  background-color: rgb(0, 217, 100);
  position: absolute;
  border-radius: 30px;
  height: 100%;
  transition: all 0.25s ease-in-out;
}
.marmeto-shipping-bar__message, .marmeto-shipping-bar__heading {
  color: rgb(255, 255, 255);
  font-size: 14px;
}
